
/* banner a página */

.banner{
  display: flex;
  justify-content: center;
  width: auto;
  height: 50%;
}

#bannertop{
  width: 20%;
  height: 20%;
}

/* Menu */
.navmenutopo{
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f09C6E;
  font-size: 10px;
}

.flexboxmenu {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content:center;
}

.menutopo{
  padding:15px;
}

a{
  text-decoration: none;
  font-size: 15px;
}

a:hover{
  text-decoration: none;
  background:#5889B7;
  border-radius:20%;
}

/* Colunas main */
.coluna{
  display: inline-flex;
  justify-content: space-around;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  font-size: 22px !important;
  text-decoration:
}

section, article{
 text-align: center;
 font-size: 15px;
}

p{
 text-align: justify;
}

/* Coluna lado esquerdo */
.colunaA{
  width: 50%;
  height: auto;
  border-top: 2px solid #5889B7;
  margin-top: 40px;
  margin-bottom: 100px;
}

.gatodeitado{
  width: 100%;
  height: auto;
}

/* coluna lado direito */
.colunaB{
  width: 35%;
  height: 90%;
  border-top: 2px solid #5889B7;
  border-bottom: 2px solid #5889B7;
  margin-top: 40px;
}


/* Logo sidebar e equipe */
#logosidebar{
  width:50%;
  height: 50%;
  margin-top: 50px;
}

#equipe{
  text-align: center;
}

.nossaequipe{
  display: flex;
  flex-direction: row;
}

.profissionais{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

/* Modal Nossa Equipe */

.modal1 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal1-content {
  position: relative;
  background-color: white;
  border-style: outset;
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  width: 30%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close-btn-1 {
  float: right;
  color: #f09C6E;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.img-modal-1 {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  margin-left: 100px;
  display: none;
}
.conteudoprofissionais{
  text-align: center;
  font-size: 10px;
}

.conteudo{
  display: none;
  background-color: white;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Área de inscrição */
.email{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

button:hover{
  background:#f09C6E;
  border-radius:100%;
}

button{
  background: #f09C6E;
  border-style: none;
}

#novidades{
  text-align: center;
}


/* Rodapé */
.rodape{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  justify-content: space-around;
  background-color: #f09C6E;
}

/* Icone rede social */
.imagemredesocial{
  width: 25px;
  height: 25px;
  margin-top: 50px;
}

.redesocial{
  display: inline-block;
  flex-direction: row;
  text-align: center;
  font-size: 12px;
}

/* Flexbox rede social */
.rodaperedesocial{
  flex-direction: row;
  text-align: center;
  font-size: 12px;
}

/* Flexbox endereço*/

.rodapeendereco{
  flex-direction: row;
  text-align: center;
  font-size: 12px;
}
/* Flexbox telefone*/
.rodapetelefone{
  flex-direction: row;
  text-align: center;
  font-size: 12px;
}
